@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css';
@import url(//db.onlinewebfonts.com/c/561f38b1f4570de0fb8a39d691ab058c?family=Tungsten+Bold);
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,400&display=swap';

.wrap{
    background-image: url(background.JPG);
    /* background-size: 110%; */
    /* background-repeat: no-repeat; */
    height: 100vh;
    font-family: 'Montserrat';
}

h1{
    font-family: 'Tungsten Bold';
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 4em;
}

.content-container{
    display: flex;
    flex-wrap: wrap;
    padding: 3em 0 0;
    width: 90vw;
    margin: 0 auto;
}

.title-container{
    display: flex;
    align-items: center;
    width: 100%;
}

.title-container h1{
    margin-right: 2vw;
}

label{
    color:#f8f8f8;
    margin: 0 2vw 0 3vw;
    font-size: 2em;
    text-transform: uppercase;
}

input[type='text']{
    font-size: 2em;
    background-color: transparent;
    outline: none;
    border: none;
    color: lightgray;
}

.agentList{
    margin-top: 2em;
    border: thin solid cyan;
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-wrap: wrap;
}

.agent, .newAgent{
    flex: 0 0 20em;
    height: 24em;
    background-color: #3F454B;
    padding: 1em;
    color: white;
    margin-right: 3em;
    position: relative;
}

.control-container, .new-control-container{
    position: absolute;
    right: 1em;
}

.control-container img{
    width: 1.2em;
}

.new-control-container img{
    width: 2em;
}

.agent-content{
    /* border: thin solid black; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
}

#cypher{
    background-image: url(cypher.png);
}

.agent-dp-container, .new-agent-dp-container{
    height: 9em;
    width: 9em;
    border-radius: 100%;
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: 50% -5%;
}

.agent-dp-container{
    background-color: #FF6F6F;
}

.new-agent-dp-container{
    background-color: #8f8f8f;
}

.agent-name{
    flex: 0 0 100%;
    text-align: center;
    font-size: 1.8em;
    text-transform: uppercase;
    margin: 1em 0;
}

.agent-name input{
    font-size: 1em;
    width: 60%;
    /* border: thin solid black; */
    text-align: center;
    border-bottom: thin solid grey;
    text-transform: uppercase;
}


.site-container{
    width: 100%;
    display: flex;
    /* border: thin solid black; */
    justify-content: space-between;
    margin-top: 0.8em;
}

.site-container input{
    font-size: 1em;
    width: 30%;
    text-align: center;
    border-bottom: thin solid grey;
    text-transform: uppercase;
}

.attack-site-container, .defense-site-container{
    width: 50%;
    /* border: thin solid red; */
    text-align: center;
    color: #FF6F6F;
}

h3{
    text-transform: uppercase;
    font-size: 0.8em;
}

.siteText{
    color: white;
    font-size: 1.5em;
}

